@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
html,
body{
  background: #339870;
  @include single-text-shadow(lighten(#000, 10%), 5px, 5px, 35px);
  font-size: 30px;
  @include border-top-right-radius(30px);
  border: #000 2px solid;
}
